{##
 # Шаблон для вывода uri для API google
 #
 # @param string uri
 #}

<div class="widget_settings_block__item_field uri-field">
    <div class="widget_settings_block__title_field" title="">
        URI для google API:
    </div><!--
    --><div class="widget_settings_block__input_field">
        <input
            class="widget_settings_block__controls__ text-input"
            type="text"
            onfocus="this.select();"
            onmouseup="return false;"
            readonly="readonly"
            value="{{ uri }}"
        >
    </div>
</div>
